@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #3a86ff;
  --secondary-color: #ff006e;
  --background-color: #0a1929;
  --text-color: #e0e0e0;
  --card-bg: #132f4c;
}
body {
  font-family: "Outfit";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
}
